body {
  background-color: black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.title {
  font-size: 50px;
}

.link {
  color: aquamarine;
  font-size: 16px;
}

.sub-title {
  font-size: 42px;
  font-weight: 300px;
}

.paragraph {
  color: gray;
  font-size: 21px;
}

.images {
  margin: 12px 0;
}

footer {
  text-align: right;
}
